body {
    margin: 0;
    background-image: linear-gradient(138deg, rgb(15, 1, 1), rgb(142, 114, 242));
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    width: 30%;
    margin: 20px auto;
    border: none;
    padding: 10px;
    background-color: #ffffffea;
    backdrop-filter: blur(30px);
    box-shadow: 0px 8px 7px rgba(41, 41, 41, 0.904);
    border-radius: 30px;
}
.input-section {
    display: flex;
}
.input-section input {
    position: relative;
    flex: 1;
    padding: 10px 5px;
    background-color: #a3a3a38a;
    backdrop-filter: blur(10px);
    flex: 1;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 30px;
}
.input-section .save-btn {
    position: absolute;
    right: 9px;
    cursor: pointer;
    padding: 11px;
    background-color: #3377ed;
    border-radius: 30px;
    border: 0;
    color: #080808;
}
.listing-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}
.listing-section ul li {
    border: none;
    display: flex;
    background-color: #a3a3a38a;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding-left: 10px;
    border-radius: 10px;
}
.listing-section ul li span.done {
    text-decoration: line-through;
}
.listing-section ul li .close {
    background-color: #3a50f6;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}